<a href="https://colab.research.google.com/github/JenFaith/DS-Unit-1-Sprint-2-Statistics/blob/master/module4-bayesian/Faith%20-%20LS_DS_124_Bayesian_Inference_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lambda School Data Science Module 124

## Introduction to Bayesian Inference

### 1) In your own words, summarize the difference between Bayesian and Frequentist statistics.

Bayesians consider the probability of an outcome before testing and while interpreting results, but frequentists do not.

###For questions 2) - 8) use the following information:

Let A be the event of surviving the sinking of the Titanic and B be the event of being a 1st class passenger.

In [1]:
import pandas as pd
import numpy as np


data_url = 'https://raw.githubusercontent.com/Chelsea-Myers/Lambda-Intro/master/Titanic.csv'

df = pd.read_csv(data_url, skipinitialspace=True, header=0)

print(df.shape)
df.head()

(887, 8)

   Survived  Pclass  ... Parents/Children_Aboard     Fare
0         0       3  ...                       0   7.2500
1         1       1  ...                       0  71.2833
2         1       3  ...                       0   7.9250
3         1       1  ...                       0  53.1000
4         0       3  ...                       0   8.0500

[5 rows x 8 columns]

2) Calculate P(A) = P(Surving)

In [7]:
### YOUR CODE HERE
new_df =  pd.crosstab(index = df['Survived'], columns='count', margins = True)
new_df
P_A = 342/887
P_A

0.3855693348365276

3) Calculate P(B) = P(Being a 1st class passenger)

In [9]:
### YOUR CODE HERE
class_df =  pd.crosstab(df['Survived'],df['Pclass'], margins = True)
class_df

Pclass      1    2    3  All
Survived
0          80   97  368  545
1         136   87  119  342
All       216  184  487  887

In [10]:
P_B = 216/887
P_B

0.24351747463359638

4) Calculate P(A $\cap$ B) = P(Being a 1st class passenger and surviving)

In [16]:
### YOUR CODE HERE
P_A_and_B = 136/887
P_A_and_B

0.15332581736189402

5) Calculate P(A|B) = P(Surviving given that the person was a 1st class passenger)

In [18]:
### YOUR CODE HERE

P_A_given_B = P_A_and_B / P_B
P_A_given_B

0.6296296296296297

$$P(A|B) = \frac{P(A \cap B)}{P(B)}$$

$$P(B|A) = \frac{P(B \cap A)}{P(A)}$$

6) Calculate (B|A) = P(Being a first class passenger given the person survived)

In [22]:
### YOUR CODE HERE
P_B_given_A = P_A_and_B / P_A
P_B_given_A

0.39766081871345027

7) Show that 

$$P(A|B) = \frac{P(A \cap B)}{P(B)}$$

with the numbers you calculate above.

In [23]:
### YOUR CODE HERE
pd.crosstab(df['Pclass'],df['Survived'],normalize="index")

Survived         0         1
Pclass
1         0.370370  0.629630
2         0.527174  0.472826
3         0.755647  0.244353

In [ ]:
##already did this above?

8) Show that 

$$P(A|B) = \frac{P(B|A)P(A)}{P(B)}$$

with the numbers you calculated above.

In [25]:
new_P_A_given_B = (P_B_given_A * P_A)/P_B
new_P_A_given_B

0.6296296296296297

###Use the following information to answer questions 9) - 13) 


Students arriving at Hogwarts are sorted into one of the four residential houses -- Gryffindor, Hufflepuff, Ravenclaw, and Slytherin -- by the magical Sorting Hat.


In theory, the Hat is supposed to examine each student's personality, consider his or her wishes, and then place the student into the most appropriate house. However, after a thousand years, the Hat has gotten pretty lazy, so it has simplified its sorting process into a two-step algorithm:



All evil students go into Slytherin, obviously.


Everybody else is just randomly sorted into one of the four houses, with a 40% probability of being put into Hufflepuff and a 20% probability of being put into each of the three other houses.


Hermione is shocked when she's sorted into Slytherin! She's never thought of herself as evil, but now that she considers it, becoming the future Dark Lady of Magical Britain does have some appeal...


If 10% of new Hogwarts students are evil, what is the probability that a randomly chosen Slytherin is evil?


Tip: the value you want is P(Evil | Slytherin).

9) Show the intermediate step that allows us to write: 

$$P(Evil|Slytherin)= \frac{P(Slytherin|Evil)P(Evil)}{P(Slytherin)}$$

Answer:

10) Determine P(Slytherin|Evil).

Answer: 
Probability of being slytherin given that the individual is evil.

P(Slytherin | Evil ) = 1

In [29]:
P_Slytherine_given_Evil = 1

11) Determine P(Evil).

Answer: 
Since 10% of the students are evil, P(Evil) must be = 0.10

In [28]:
P_Evil=0.10

12) Determine P(Slytherin).  Hint: This is a little tricky.  This is equal to the probability of a student being evil (and therefore being sorted into Slytherin) plus the probability of not being evil and being sorted into Slytherin.

Answer: 

$$ P(Slytherin) =(\frac{1}{3}* .2) +  P(Evil)$$
$$ P(Slytherin) = 0.066 + 0.10$$
$$ P(Slytherin) = 0.166$$

In [27]:
P_Slytherine = 0.166

13) Calculate P(Evil|Slytherin) using the formula

$$P(Evil|Slytherin)= \frac{P(Slytherin|Evil)P(Evil)}{P(Slytherin)}$$

In [30]:
### YOUR CODE HERE ###
P_Evil_given_Slytherin = (P_Slytherine_given_Evil*P_Evil )/ P_Slytherine
P_Evil_given_Slytherin

0.6024096385542169

#Portfolio Project Assignment

Watch the Porfolio Project websites mini-lecture: https://www.youtube.com/watch?v=gxbNCGERUjc&feature=youtu.be&ab_channel=LambdaSchool


Begin to set up your own Portfolio Project website.